/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #1098ad 2%, #862e9c 80%);
}

/* LAYOUT */
main {
  position: relative;
  width: 70%;
  height: 80%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 10rem rgba(0, 0, 0, 0.37);
}
/* main {
  backdrop-filter: blur(200px);
  filter: blur();
} */

.player {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 0.75s; */
  padding: 8rem;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 7rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.199);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

/* .player--active .current {
  opacity: 1;
} */

.current {
  background-color: #c7365f;
  width: 60%;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  /* color: #ddd; */
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 1rem 2rem;
  border: 0px;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  font-family: inherit;
  padding: 0.7rem 2.5rem;
}
/* .btn {
  
  border: none;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

}  */

.btn--new {
  top: 10%;
}
.btn--roll {
  top: 65%;
}
.btn--hold {
  top: 80%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.253);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  width: 10rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.336);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
